<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        body{
            background-color: black;
            padding: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        button{
            height: 100px;
            width: 200px;
            border-radius: 40px;
            background-color: lightgray;
            color: black;
        }
        form{
            padding: 20px;
            margin-top: 50px;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border: 2px solid white;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <a href="/persons">
        <button>persons</button>
    </a>
    <form action="/register" method="post">
        <input type="text"
        name="username"
        placeholder="Enter name"
        >
        <input type="text"
        name="email"
        placeholder="Enter Email"
        >
        <input type="text"
        name="bio"
        placeholder="Enter bio"
        >
        <input type="text"
        name="image"
        placeholder="give image"
        >
        <input type="submit"
        >
    </form>
</body>
</html>