<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
</head>
<body>
    <form  action="/register">
        <input name="name" type="text" placeholder="Name">
        <input name="email" type="string" placeholder="email">
        <input name="password" type="string" placeholder="password">
        <input type="submit">
    </form>
    <!-- <script src="index.js"></script> -->
</body>
</html>